@use '../helpers/' as *;

.book {
  // .book__item

  &__item {
    position: relative;
    border-radius: 15px;
    overflow: hidden;

    cursor: pointer;

    @include hover {
      img{
        transform: scale(1.2);
      }

      h3{
        color: var(--color-accent);
      }
    }

    &-image {
      width: 100%;
      max-width: 100%;
      border-radius: 15px;
      object-fit: cover;
      transition: transform .4s ease;

      @media(width <= 900px) {
        height: 344px;
      }
      @media(width <= 670px) {
        height: 250px;
     
      }
      @media(width <= 500px) {
        height: 190px;
     
      }

    }
    &-title {
      position: absolute;
      font-weight: 400;
      font-size: 44px;
      line-height: 0.985;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: var(--color-white);

      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: color .4s ease;
    }
  }
}
