@use '../helpers/' as *;

.customize__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;

  &::before {
    position: absolute;

    content: '';
    width: 550px;
    height: 100px;
    left: 50%;
    top: 42%;
    transform: translate3d(-50%, -50%, 0);
    background-image: url(/images/Customize/button-decor2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 51;

    @media (width <= 650px) {
      display: none;
    }
  }

  &::after {
    position: absolute;

    content: '';
    width: 344px;
    height: 100px;
    left: 50%;
    top: 42%;
    transform: translate3d(-50%, -50%, 0);
    background-image: url(/images/Customize/decor-2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 40;
    display: none;

    @media (width <= 650px) {
      display: block;
    }

    @media (width <= 350px) {
      display: none;
    }
  }

  a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px fluid(150, 50);
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-white);
    border-radius: 74px;
    background-color: transparent;
    z-index: 60;
    cursor: pointer;
    transition: color 0.3s ease;

    @media (width <= 650px) {
      font-size: 20px;
    }

    @media (width <= 350px) {
      background-color: var(--color-title);
    }

    @include hover {
      color: var(--color-accent);
    }
  }
}
