@use '../helpers/' as *;

.client {
  background-image: url(/images/client/client-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__title {
    padding-top: fluid(150, 90);
    padding-bottom: fluid(90, 40);

    max-width: 540px;
    margin-inline: auto;
    text-align: center;
  }

  &__inner {
    border-radius: 10px;
  }

}

.tabs {
  height: 550px;
  display: grid;
  grid-template-columns: 25% 1fr;

  @media(width <= 670px) {
    height: auto;
    min-height: 500px;
    display: grid;
    grid-template-columns: 25% 1fr;
  }


  @media (width <= 550px) {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-inline: 12px;
  }

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    @media (width <= 550px) {
      display: none;
    }
  }

  &__title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-dark);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;

    &--active {
      background-color: var(--color-white);
    }

    @include hover {
      color: var(--color-accent);
      transform: scale(1.05);
    }
  }
}

.tabs-form {
  width: 100%;
  overflow: hidden;
  height: 100%;
  padding-inline: fluid(95, 20);
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--color-white);

  @media(width <= 900px) {
    padding-block: 15px;
  }

  @media(width <= 650px) {
    padding-block: 5px;
    padding-inline: 10px;
  }

  @media (width <= 550px) {
    width: 80dvw;
    max-width: 420px;
    margin-inline: auto;
    border-radius: 12px;
  }

  &__tab-field {
    display: grid;
    grid-template-columns: 20% 1fr 10%;
    align-items: baseline;
    column-gap: 20px;

    @media(width <= 850px) {
      grid-template-columns: minmax(110px, 100px) 1fr 10%;
    }

    @media(width <= 550px) {
      grid-template-columns: 1fr;
      row-gap: 8px;
    }


  }


  label {
    padding-bottom: 5px;
    padding-top: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #7a7a7a;
    border-bottom: 1px solid #e2d3ce;


    @media (width <= 550px) {
      padding-top: 10px;
      padding-bottom: 2px;
      border-bottom: none;
      font-size: 13px;
    }
  }


  input {
    padding-bottom: 5px;
    width: 100%;
    max-width: 350px;
    justify-self: center;
    border: none;
    cursor: pointer;

    @media(width <= 550px) {
      width: 100%;
      max-width: 100%;
      justify-self: stretch;

      padding-left: 5px;
      font-size: 16px;
    }

    &::placeholder {
      font-weight: 500;
      font-size: 18px;
      color: var(--color-dark);

      @media(width <= 500px) {
        padding-left: 5px;
        font-size: 16px;
      }
    }

    &:focus-visible {
      outline: none;
      border-bottom: 1px solid #7a7a7a;
    }
  }

  button {
    justify-self: end;
    flex-basis: 35px;
    font-weight: 500;
    font-size: 18px;
    text-align: right;
    color: #4c64a1;
    opacity: 0.7;
    background-color: transparent;
    border: none;
    cursor: pointer;

    transition: opacity 0.3s ease;

    @media (width <= 670px) {
      font-size: 13px;

    }

    &:hover {
      opacity: 1;
    }
  }


}

