@use '../helpers/' as *;
.client {
  background-image: url(/images/client/client-bg.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__title {
    padding-top: fluid(150, 90);
    padding-bottom: fluid(90, 40);

    max-width: 540px;
    margin-inline: auto;
    text-align: center;
  }
  &__inner {
    border-radius: 10px;
  }

  &__tabs {
    display: grid;
    grid-template-columns: 25% 1fr;
  }
}

.tabs {
  height: 610px;

  &__titles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }

  &__title {
    padding-left: 35px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-dark);
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;

    &--active {
      background-color: var(--color-white);
    }

    @include hover {
      color: var(--color-accent);
      transform: scale(1.05);
    }
  }
}
.tabs-form {
  overflow: hidden;
  height: 100%;
  padding-inline: fluid(95, 20);
  padding-block: 30px;
  display: flex;
  flex-direction: column;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--color-white);

  &__inner {
  }

  label {
    padding-bottom: 15px;
    padding-top: 30px;
    display: grid;
    grid-template-columns: 124px 1fr 35px;

    font-weight: 400;
    font-size: 18px;
    color: #7a7a7a;
    border-bottom: 1px solid #e2d3ce;

    input {
      padding-bottom: 5px;
      width: 100%;
      max-width: 350px;
      justify-self: center;
      border: none;
      cursor: pointer;

      &::placeholder {
        font-weight: 500;
        font-size: 18px;
        color: var(--color-dark);
      }

      &:focus-visible {
        outline: none;

        border-bottom: 1px solid '#7a7a7a';
      }
    }

    button {
      flex-basis: 35px;

      font-weight: 500;
      font-size: 18px;
      text-align: right;
      color: #4c64a1;

      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
