@use '../helpers/' as *;

.contacts {
  background-image: url(/images/contacts/bg-top.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  span {
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.798;
    text-align: center;
    color: var(--color-dark);
  }

  &__title {
    padding-top: fluid(150, 90);
    padding-bottom: fluid(80, 50);
    max-width: 540px;
    margin-inline: auto;
    text-align: center;
  }

  &__inner {
    margin-bottom: fluid(60, 22);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    @media(width <= 700px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    & > div {

      border-radius: 20px;
      border: 1px solid var(--color-white);
      backdrop-filter: blur(130px);
      background: rgba(255, 255, 255, 0.08);

      @media(width <= 700px) {
        padding-block: 20px;
        width: 90%;
      }

      @media(width <= 400px) {
        width: 100%;
      }
    }
  }

  &__phone {
    padding-block: fluid(50, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-number {
      font-family: var(--font-family-title);
      font-weight: 400;
      font-size: fluid(40, 30);
      line-height: 1.012;
      text-align: center;
      color: #0c0b10;
    }
    &-button {
      padding: 14px 58px;
      background: #0c0b10;
      border-radius: 74px;
      font-family: var(--font-family-title);
      color: var(--color-white);
      font-weight: 400;
      font-size: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      will-change: color;
      transition: color 0.3s ease;
      cursor: pointer;

      @include hover {
        color: var(--color-accent);
      }
    }
  }

  &__address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-address {
      max-width: 320px;
      font-family: var(--font-family-title);
      font-weight: 400;
      font-size: fluid(40, 30);
      line-height: 1.012;
      text-align: center;
      color: #0c0b10;
    }

    &-email {
      font-family: var(--font-family-title);
      font-weight: 400;
      font-size: 24px;
      line-height: 1.012;
      text-align: center;
      color: var(--color-dark);
      will-change: color scale;
      transition: color 0.3s ease, scale 0.3s ease;
      cursor: pointer;

      @include hover {
        color: var(--color-accent);
        scale: 1.1;
      }
    }
  }

  &__map {
    padding-block: 15px;
    position: relative;

    &::before {
      position: absolute;

      content: '';
      background-image: url(/images/contacts/map-border.svg);
      background-repeat: no-repeat;
      background-position: center top;
      width: 100%;
      height: 100%;
      left: 50%;
      top: -15px;
      transform: translate3d(-50%, 0, 0);
      z-index: -1;
    }

    &::after {
      position: absolute;

      content: '';
      left: 0;
      right: 0;
      bottom: 0px;
      width: 95%;
      height: 2px;
      border-bottom: 1px solid var(--color-white);
      border-bottom-left-radius: 20px;
      transform: translateX(3%);
    }

    svg {
      position: absolute;

      content: '';
      width: fluid(36, 20);
      height: fluid(87, 50);
      left: 50%;
      top: 50%;

      transform: translate3d(calc(-50% - 20px), -50%, 0);
    }
  }
}
