@use '../helpers/' as *;

.customers-card {
  padding: 15px;
  border: 1px solid var(--color-white);
  border-radius: 10px;
  backdrop-filter: blur(20px);
  background: rgba(226, 211, 206, 0.2);

  display: flex;
  height: 100%;
  width: 100%;
  max-width: 100%;
  overflow: hidden;

  @media(width <= 900px) {
    max-width: 450px;
  }

  &__inner {
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: visible;
    //    padding-block: fluid(70, 60);
    //    padding-inline: fluid(80, 30);
    padding: 30px;


    @media (width <= 900px) {
      max-width: auto;
      align-items: center;
      padding-block: 20px;
      padding-inline: 20px;
      text-align: center;

      @media (width <= 500px) {
        padding: 10px;
      }
    }
  }

  &__img {
    position: relative;

    margin-bottom: 30px;

    &::after {
      content: '';

      position: absolute;
      left: 20px;
      bottom: -30px;
      width: 102px;
      height: 102px;
      background-image: url(/images/customers/author-blur.png);
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
    }

    img {
      max-width: 100%;
      border-radius: 100%;
      box-shadow: 0 3px 20px 0 rgba(139, 167, 178, 0.16);
    }
  }

  &__text {
    margin-bottom: fluid(80, 30);

    font-weight: 300;
    font-size: fluid(32, 18);
    line-height: 1.7619;
    color: #1d1a1a;

    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  &__content {
    margin-top: auto;
  }

  &__author {
    position: relative;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: fluid(19, 14);
    line-height: 0.945;
    color: #1d1a1a;

    ::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 6px;
      height: 2px;
      background-color: #1d1a1a;

      transform: translate3d(0, -50%, 0);
    }
  }

  &__coauthor {
    font-weight: 300;
    font-size: fluid(16, 14);
    line-height: 0.945;
    color: #1d1a1a;
  }
}
