@use '../helpers/' as *;

.footer {
  padding-top: fluid(100, 60);
  background-image: url(/images/footer/bg_footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 35px;
  }

  &__logo {
    margin-bottom: fluid(80, 40);
    width: fluid(215, 110);
    height: fluid(112, 60);
  }

  &__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.33333;
    color: var(--color-white);

    @media (width <= 500px) {
      flex-direction: column;
      justify-content: center;
      gap: 15px;
    }
  }
}
