@use '../helpers/' as *;

.header-top {
  position: fixed;
  height: 64px;
  padding-inline: fluid(30, 20);
  padding-block: fluid(30, 20);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner-logo {
    width: fluid(64, 125);
    height: fluid(76, 40);

    @media (width <= 1050px) {
      margin-right: 67px;
      order: 2;
    }
  }

  &__inner-menu {
  }

  &__inner-button {
    height: 45px;
    padding: fluid(11, 9) fluid(24, 13);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000;
    font-family: var(--font-family-title);
    background: url(/icons/header-top/button-decor.svg) no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 61px;
    cursor: pointer;
    transition: color 0.4s ease, transform 0.4s ease;
    will-change: color, transform;

    &:hover {
      color: red;
      transform: scale(1.1);
    }

    @media (width <= 1050px) {
      order: 1;
    }
  }
}

.header-menu {
  @media (width <= 1050px) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: fluid(40, 20);
  }

  &__link {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000;
    font-family: var(--font-family-title);
    cursor: pointer;
  }
}

.burger-menu {
  opacity: 0;
  visibility: 0;

  min-height: 100vh;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(121, 101, 94, 0.8);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  transform-origin: right top;
  transform: scale(0) translate(0, 0) rotate(0.001deg); 
  transition: all 1s ease;

  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: right top;
  }

  &__wrapper {
    padding: 50px;
  }

  &__nav {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__logo{
    margin-bottom: 20px;
    path{
      fill: #fff;
    }
  }

  &__list {
    text-align: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--color-white);
  }

  &__link {
    font-size: 30px;
    letter-spacing: -0.03em;
    font-family: var(--font-family-title);
    cursor: pointer;
  }
}

.burger-menu.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate(0, 0) rotate(0.001deg); 
}

.burger-menu__button {
  display: none;
  @media (width <= 1050px) {
    display: block;
    order: 3;
    width: 60px;
    height: 25px;
    background-color: transparent;
    border: none;

    span {
      position: relative;
      display: block;
      width: 60px;
      height: 1px;
      background-color: #fff;
      transform: translateX(-5px);
      transform-origin: revert;
      will-change: width;
      transition: width 0.4s ease;

      &::after {
        content: '';

        position: absolute;
        width: 45px;
        height: 1px;
        background-color: #fff;
        will-change: transform;
        transition: all 0.5s ease;
      }
      &::before {
        content: '';

        position: absolute;
        width: 60px;
        height: 1px;
        background-color: #fff;
        will-change: transform;
        transition: transform 0.4s ease;
      }

      &::after {
        top: -9px;
        left: 0;
      }
      &::before {
        top: 9px;
        left: 0;
      }
    }

    &.active {
      span {
        width: 0px;

        &::after {
          transform: rotate(45deg);
          width: 30px;
        }

        &::before {
          width: 30px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
