@use '../helpers/' as *;

.header {
  position: relative;

  &__container {
    max-width: 1472px;
    margin-inline: auto;
    padding-inline: 16px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &__subtitle {
    font-weight: 400;
    font-size: 25px;
    line-height: 0.985;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;
    color: #0c0b10;
  }
}

.layers {
  height: 110vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;

  &__base {
    transform: translate3d(0, calc(var(--scrollTop) * 0.4), 0);
    z-index: 0;
  }

  &__subtitle {
    padding-top: 8%;
    transform: translate3d(0, calc(var(--scrollTop) * 0.25), 0);
  }

  &__title {
    position: relative;
    max-width: 900px;
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    @include fluid-text(197, 72);
    letter-spacing: 0.3em;

    text-align: center;
    font-weight: 400;
    line-height: 0.6494;

    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #fcfcfc;
    font-family: var(--font-family-title);
    z-index: 2;

    p {
      font-weight: 400;
      @include fluid-text(197, 72);
      line-height: 0.6494;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: #fcfcfc;

      will-change: transform;
      transform: translate3d(0, calc(var(--scrollTop) * 0.5), 0);

      @media (width <= 380px) {
        font-size: 62px;
      }
    }

    h1 {
      position: relative;
      margin-top: 125px;
      font-size: fluid(160, 70);
      will-change: transform;
      transform: translate3d(0, calc(var(--scrollTop) * -0.25), 0);

      @media (width <= 380px) {
        font-size: 62px;
      }
    }

  }

  &__middle {
    transform: translate3d(0, calc(var(--scrollTop) * 0.35), 0);
    z-index: 1;
  }

  &__front {
    transform: translate3d(0, calc(var(--scrollTop) * 0.15), 0);
    z-index: 5;
  }
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

.header-title-places {
  --widthDecor: 100px;
  --heightDecor: 200px;

  display: block;
  position: relative;
  margin-top: 15px;
  transform: translate3d(0, calc(var(--scrollTop) * -0.05), 0);

}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding-inline: fluid(30, 20);
  padding-block: fluid(30, 20);
  transition: padding 0.4s ease;

  &--scrolled {
    padding-block: 5px;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);

    .header-top__inner-logo {
      svg {
        height: 45px;
      }
    }

    .header-top__inner-button {
      a {
        svg {
          height: 45px;
        }
      }
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-burger-button {
      display: contents;
      cursor: pointer;
    }
  }

  &__inner-logo {
    @media (width <= 1050px) {
      margin-right: 67px;
      order: 2;
    }

    @media (width <= 550px) {
      display: none;
    }
  }

  &__inner-button {
    place-self: center;
    width: 165px;
    height: 45px;
    position: relative;
    cursor: pointer;

    @include hover {
      a {
        color: var(--color-white);
      }

      svg {
        path {
          stroke: var(--color-accent);
          fill: var(--color-accent);
        }
      }
    }

    a {
      position: absolute;
      width: 100%;
      font-family: var(--font-family-title);
      font-weight: 400;
      font-size: 16px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: var(--color-dark);
      text-decoration: none;

      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: color 0.3s ease;
    }

    svg {
      position: absolute;

      left: 50%;
      top: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: all 0.3s ease;

      path {
        stroke: #fff;
        fill: #fff;
      }
    }

    @media (width <= 1050px) {
      order: 1;
    }
  }
}

.header-menu {
  @media (width <= 1050px) {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: fluid(40, 20);
  }

  &__link {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000;
    font-family: var(--font-family-title);
    cursor: pointer;

    &.active {
      &::after {
        position: absolute;

        content: '';
        width: 20px;
        height: 12px;
        bottom: -60%;
        left: 50%;
        background-image: url(/images/slides/icon-active.svg);
        background-repeat: no-repeat;
        background-position: center;
        transform: translate3d(-50%, -50%, 0);
      }
    }
  }
}

.burger-menu {
  opacity: 0;
  visibility: hidden;

  min-height: 100vh;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(121, 101, 94, 1);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  transform-origin: right top;
  transform: scale(0) translate(0, 0) rotate(0.001deg);
  transition: all 0.5s ease;

  &__wrapper {
    padding: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform-origin: right top;
  }

  &__nav {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (width <= 370px) {
      padding: 10px;
    }
  }

  &__logo {
    margin-bottom: 20px;

    path {
      fill: #fff;
    }
  }

  &__list {
    text-align: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--color-white);
  }

  &__link {
    font-size: 30px;
    letter-spacing: -0.03em;
    font-family: var(--font-family-title);
    cursor: pointer;
  }
}

.burger-menu.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translate(0, 0) rotate(0.001deg);
}

.burger-menu__button {
  display: none;
  cursor: pointer;
  @media (width <= 1050px) {
    position: relative;
    display: block;
    order: 3;
    width: 60px;
    height: 25px;
    background-color: transparent;
    border: none;
    z-index: 20;
    cursor: pointer;

    span {
      position: relative;
      display: block;
      width: 40px;
      height: 1px;
      background-color: #fff;
      transform: translateX(-5px);
      transform-origin: revert;
      will-change: width;
      transition: width 0.7s ease;

      &::after {
        content: '';

        position: absolute;
        width: 25px;
        height: 1px;
        background-color: #fff;
        will-change: transform;
        transition: width 0.9s ease;
      }

      &::before {
        content: '';

        position: absolute;
        width: 60px;
        height: 1px;
        background-color: #fff;
        will-change: transform;
        transition: width 0.5s ease;
      }

      &::after {
        top: -9px;
        left: 0;
      }

      &::before {
        top: 9px;
        left: 0;
      }
    }

    &.active {
      span {
        width: 100%;

        &::after,
        &::before {
          width: 100%;
        }
      }
    }
  }
}
