@use '../helpers/' as *;

.luxury {
  padding-top: fluid(155, 90);
  padding-bottom: fluid(65, 80);

  &__inner {
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }

  &__items {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fluid(30, 15);

    @media (width <= 900px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (width <= 550px) {
      grid-template-columns: repeat(1, 1fr);

    }

    &::after {
      position: absolute;

      content: '';
      width: 100%;
      height: 600px;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        0deg,
        rgba(226, 211, 206, 0) 0%,
        rgba(226, 211, 206, 0.84) 53.72%,
        #e2d3ce 95.96%
      );
      transform: rotate(-180deg);
      z-index: 50;
    }
  }

}

.error-message{
  text-align: center;
  color: var(--color-accent);
  font-size: 40px;
  margin-inline: auto;
  margin-top: 50px;
}
