@use '../helpers/' as *;

.packages {
  position: relative;

  --margin-top: 120px;
  padding-bottom: fluid(158, 110);
  background-image: url(/images/book/luxury-bg.png);
  background-position: center;
  background-size: cover;

  &::after {
    position: absolute;

    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/images/book-bg.png) no-repeat;
    background-size: cover;
    background-position: center 20px;
    z-index: 0;
  }

  &::before {
    position: absolute;

    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: url(/images/book-bg.png) no-repeat;
    background-size: cover;
    background-position: center 0px;
    z-index: 0;
  }

  // .packages__container

  &__container {
  }

  &-next {
    svg {
      position: absolute;
      top: 50%;
      right: 0;
      width: 75px;
      height: 75px;
      z-index: 100;
      cursor: pointer;
      transform: translate(0, -50%);

      :where([fill]:not([fill='none'], [fill^='url'])) {
        fill: #79655e;
      }

      :where([stroke]:not([stroke='none'], [stroke^='url'])) {
        stroke: #fff;
      }
    }
  }

  // .packages__inner

  &__inner {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-columns: repeat(3, minmax(250px, 350px));
    column-gap: fluid(30, 10);
    z-index: 100;
  }

  // .packages__inner-left

  &__inner-left {
  }

  // .packages__inner-center

  &__inner-center {
  }

  // .packages__inner-right

  &__inner-right {
  }
}

.inner-left {
  display: flex;
  flex-direction: column;
  justify-content: start;

  &__items {
  }

  &__item {
    &:first-child {
      height: 570px;
      display: flex;
      justify-self: flex-start;
      justify-content: start;
      align-items: start;
    }
  }

  &__item-title {
    text-align: left;
    margin-top: var(--margin-top);
    margin-bottom: fluid(30, 10);
    max-width: 214px;

    @media (width <= 1100px) {
      margin-block: 0;
    }
  }

  // .inner-left__item-link

  &__item-link {
    padding: 9px 36px;
    border: 1px solid var(--color-title);
    border-radius: 61px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-title);
    transition: border-color 0.3s ease color 0.3s ease;

    @include hover {
      color: var(--color-accent);
      border-color: var(--color-accent);
    }
  }

  // .inner-left__item-card

  &__item-card {
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 140px;
  }
}

.inner-center {
  // .inner-center__items
  &__items {
    margin-top: var(--margin-top);
    display: flex;
    flex-direction: column;
    gap: fluid(30, 10);
  }
}
.inner-right {
  // .inner-right__items

  &__items {
    margin-bottom: var(--margin-top);
    display: flex;
    flex-direction: column;
    gap: fluid(30, 10);
  }
}

.packages-slider {
  position: relative;

  &__wrapper {
  }

  &__header {
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
  }
}
