@use '../helpers/' as *;

.search {
  position: relative;

  z-index: 100;

  &__container {
    position: relative;
    padding: 23px 26px;

    background-color: var(--color-white);
    border-radius: var(--radii-10);
    box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.11);

    &::after {
      position: absolute;
      content: '';
      width: 300px;
      height: 100px;
      top: -42%;
      left: 50%;
      background-image: url('/icons/search/decor.png');
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%);

      @media (width <= 1100px) {
        top: -29%;
      }

      @media (width <= 900px) {
        top: -16%;
      }

      @media (width <= 600px) {
        top: -13%;
      }
      @media (width <= 400px) {
        display: none;
      }
    }
  }

  &__title {
    position: absolute;
    display: inline-block;
    padding: 15px 40px;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    border-radius: 65px;

    color: var(--color-text-rose);
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;

    @media(width <= 660px) {
      display: block;
      min-width: 90%;
    }
  }

  &__form-wrapper {
    padding-inline: 5px;
  }

  &__form {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.form {
  fieldset {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 20% 15% 15% 126px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: none;

    @media (width <= 1100px) {
      grid-template-columns: repeat(4, 1fr);
      justify-content: center;
      place-items: start;
    }

    @media (width <= 900px) {
      padding: fluid(35, 20);

      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      place-content: center;
      gap: 20px;
    }

    @media (width <= 600px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }

    @media (width <= 450px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }


  &__button {
    margin-left: auto;
    padding-block: 23px;
    justify-self: end;
    width: 126px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    background-color: #0c0b10;
    border-radius: 121px;
    color: var(--color-white);

    @media (width <= 1100px) {
      width: 100%;
      grid-column: -4/-2;
      padding-block: 16px;
    }

    @media (width <= 900px) {
      grid-column: 1/-1;
      grid-row: 3/-1;
    }

    @media (width <= 600px) {
      grid-column: 1/-1;
      grid-row: 4/-1;
    }
  }

  label {
    padding-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 18px;
    color: var(--color-text-rose);
    cursor: pointer;
  }

  input {
    padding-block: 5px;
    border: none;
    overflow: hidden;

    &::placeholder {
      font-weight: 500;
      font-size: 18px;
      color: #0c0b10;
    }

    &:focus-visible {
      outline: none;
    }
  }

  &__destination-label {
    @media (width <= 600px) {
      grid-column: 1/3;
      grid-row: 1/2;
    }

    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      background-image: url('/icons/search/romb.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 4px;
    }
  }

  &__travel-label {
    @media (width <= 1100px) {
      width: 100%;
      grid-column: 4/-1;
    }

    @media (width <= 900px) {
      grid-column: 1/2;
    }

    @media (width <= 600px) {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      background-image: url('/icons/search/sun.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 4px;
    }
  }

  &__date-label {
    @media (width <= 1100px) {
      width: 126px;
      grid-column: 2/3;
      grid-row: 1/2;
    }

    @media (width <= 900px) {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    @media (width <= 600px) {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      background-image: url('/icons/search/calendar.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 4px;
    }
  }

  &__date-input {
    width: 126px;
  }

  &__travellers-label {
    @media (width <= 1100px) {
      width: 100%;
      grid-column: 3/4;
      grid-row: 1/2;
    }

    @media (width <= 900px) {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    @media (width <= 600px) {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      background-image: url('/icons/search/person.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 4px;
    }
  }

  &__travellers-input {
    max-width: 126px;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

