@use '../helpers/' as *;

.search {
  position: relative;

  z-index: 100;

  &__container {
    position: relative;
    padding: 23px 26px;

    background-color: var(--color-white);
    border-radius: var(--radii-10);
    box-shadow: 0 18px 38px 0 rgba(0, 0, 0, 0.11);

    &::after {
      position: absolute;
      content: '';
      width: 300px;
      height: 100px;
      top: -42%;
      left: 50%;
      background-image: url('/icons/search/decor.png');
      background-repeat: no-repeat;
      background-position: center;
      transform: translateX(-50%);

      @media (width <= 1100px) {
        top: -29%;
      }

      @media (width <= 900px) {
        top: -16%;
      }

      @media (width <= 600px) {
        top: -13%;
      }
      @media (width <= 400px) {
        display: none;
      }
    }

    @media(width <= 800px) {
      max-width: 620px;
      width: auto;
    }
  }

  &__title {
    position: absolute;
    display: inline-block;
    padding: 15px 40px;
    text-align: center;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    border-radius: 65px;

    color: var(--color-text-rose);
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;

    @media(width <= 660px) {
      display: block;
      min-width: 90%;
    }
  }

  &__form-wrapper {
    padding-inline: 5px;
  }

  &__form {
    width: 100%;
    display: flex;
    align-items: center;

  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  @media(width <= 1000px) {
    flex-direction: column;
  }

  @media(width <= 800px) {
    flex-direction: row;
  }

  @media(width <= 600px) {
    flex-direction: column;
  }

  fieldset {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border: none;

    @media (width <= 1100px) {
      grid-template-columns: repeat(4, 1fr);

    }

    @media(width <= 900px) {
      display: flex;
      gap: 5px;
    }

    @media(width <= 800px) {
      margin-inline: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

    }


    @media (width <= 500px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }


  &__button {
    margin-left: auto;
    padding-block: 23px;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 146px;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    background-color: #0c0b10;
    border-radius: 121px;
    color: var(--color-white);

    & > svg {
      &:hover {
        color: red;
      }
    }

    &:hover {
      color: red;
    }

    @media (width <= 1100px) {
      margin-inline: auto;
      padding-block: 16px;
    }

    @media(width <= 500px) {
      width: 100%;
    }
  }

  label {
    padding-left: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-transform: capitalize;
    font-weight: 300;
    font-size: 18px;
    color: var(--color-text-rose);
    cursor: pointer;

    @media(width <= 800px) {
      max-width: 200px;
    }

    @media(width <= 500px) {
      display: flex;
      width: 100%;
      max-width: 100%;
    }
  }

  input {
    padding: 5px;
    border: none;
    overflow: hidden;

    @media(width <= 800px) {
      max-width: 200px;
    }

    &::placeholder {
      font-weight: 500;
      font-size: 18px;
      color: #0c0b10;
    }

    &:focus-visible {
      outline-color: var(--color-bg--rose);
      border-radius: 10px;
    }
  }

  &__destination-label {

    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      background-image: url('/icons/search/romb.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 4px;
    }
  }

  &__travel-label {
    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      background-image: url('/icons/search/sun.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 4px;
    }
  }

  &__date-label {
    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      background-image: url('/icons/search/calendar.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 4px;
    }
  }

  &__date-input {
    width: 126px;
  }

  &__travellers-label {

    &::before {
      position: absolute;
      content: '';
      width: 17px;
      height: 17px;
      background-image: url('/icons/search/person.svg');
      background-repeat: no-repeat;
      left: 0;
      top: 4px;
    }
  }

  &__travellers-input {
    max-width: 126px;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

