@use '../helpers/' as *;

.slide {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    cursor: pointer;

    @include hover {
      img {
        transform: scale(1.2);
      }
    }
  }

  &__content {
    padding: 35px;
    position: absolute;
    width: 100%;
    height: 240px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    color: var(--color-white);

  }

  &__content-location {
    display: block;
    padding-left: 13px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;

      width: 9px;
      height: 11px;
      background: url(/icons/slides/location.svg) no-repeat center/cover;
      transform: translate(0, -50%);
      z-index: 100;
    }
  }

  &__content-title {
    margin-bottom: auto;
  }

  &__content-price {
    font-weight: 400;
    font-size: fluid(24, 21);
    line-height: 0.985;
  }

  &__rating {
    position: absolute;

    right: 11%;
    bottom: 35px;
    width: 20px;
    height: 120px;
    z-index: 50;

    font-weight: 500;
    font-size: 11px;
    text-transform: uppercase;
    color: var(--color-white);
  }

  &__image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;

    @include hover {
      img {
        transform: scale(1.2);
      }
    }

    img {
      max-width: 100%;
      width: 100%;
      transition: transform 0.4s ease;

      @include hover {
        transform: scale(1.2);
      }
    }

    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 100px;
      right: 13%;
      bottom: 34px;
      background-image: url(/icons/slides/rating-full.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      z-index: 50;
    }
  }

  &__navigation-next {
    position: absolute;

    width: 30px;
    height: 15px;
    right: 20px;
    top: 50%;
    z-index: 170;
    cursor: pointer;
  }
}
