@use '../helpers/' as * ;


.subscribe {
  padding-bottom: fluid(112, 80);

  @media (width <= 500px) {
    padding-bottom: 30px;
  }

  &--why {
    margin-bottom: -250px;
    transform: translateY(-200px);
  }

  &__inner {
    background-image: url(/images/subscribe-bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: 94px;
    padding-inline: fluid(185, 30);

    @media (width <= 550px) {
      padding-top: 100px;
      padding-bottom: 50px;
    }
  }

  &__title {
    margin-bottom: 30px;
    max-width: 370px;
    font-weight: 400;
    color: var(--color-white);
    line-height: 0.96;

    @media (width <= 550px) {
      text-align: center;
      margin-inline: auto;
    }
  }

  &__text {
    margin-bottom: 60px;

    @media (width <= 550px) {
      margin-bottom: 40px;
    }

    @media (width <= 550px) {
      text-align: center;
      margin-inline: auto;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.798;
      color: var(--color-white);
    }
  }

  &__form {
    width: 100%;
    padding-bottom: fluid(134, 80);
    display: flex;
    align-items: center;
    justify-content: center;

    @media (width <= 767.98px) {
      flex-direction: column;
      gap: 30px;
      padding-bottom: 100px;
    }
  }

  &__form-input {
    width: 100%;
    height: 55px;
    flex-basis: 67%;
    padding-left: 30px;
    border: 1px solid var(--color-white);
    border-radius: 95px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.14);

    @media (width <= 767.98px) {
      height: 55px;
      padding-block: 13px;
      flex-basis: 100%;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.798;
      color: var(--color-title);
    }
  }

  &__form-button {
    height: 55px;
    width: 330px;
    border-radius: 74px;
    border: none;
    background-color: var(--color-white);
    font-family: var(--font-family-title);
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-title);
    transform: translate3d(-5%, 0, 0);

    @media (width <= 767.98px) {
      width: 100%;
      transform: translate3d(0, 0, 0);
    }
  }
}