@use '../helpers/' as *;

.trips {
  position: relative;
  padding-block: 50px;

  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: -180px;

    width: 100%;
    height: 100%;
    background-image: url(/images/trips/trips-bg2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    @media (width <= 700px) {
      top: -140px;
      background-position: center;
      background-size: cover;

    }

    @media (width <= 600px) {
      top: -90px;

    }
    @media(width <= 400px) {
     top: 0;
    }
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 50;

    @media (width <= 600px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__header-title {
    max-width: 220px;
    margin-left: auto;
    margin-right: 50px;

    @media (width <= 600px) {
      text-align: center;
      margin-inline: auto;
      margin-bottom: 23px;
    }
  }

  &__header-text {
    margin-right: auto;
    margin-left: 10px;
    p {
      max-width: 254px;
      font-size: 16px;
      line-height: 1.798;
      color: var(--color-dark);

      @media (width <= 600px) {
        max-width: 100%;
        text-align: center;
        margin-inline: auto;
      }
    }
  }
  &__content {
    display: grid;
  }
}
.content-center {
  position: relative;
  padding-top: 432px;
  margin-bottom: fluid(58, 43);
  display: flex;
  justify-content: center;
  gap: 50px;
  z-index: 50;

  @media (width <= 600px) {
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &::before {
    position: absolute;

    content: '';

    width: 149px;
    height: 365px;
    right: 0;
    bottom: 0;
    background-image: url(/images/trips/image-right.png);
    background-repeat: no-repeat;
    background-size: contain;

    @media (width <= 900px) {
      bottom: 15%;
    }

    @media (width <= 600px) {
      bottom: 30%;
    }
  }

  &::after {
    position: absolute;

    content: '';

    width: 149px;
    height: 348px;
    left: 5%;
    top: 0;
    background-image: url(/images/trips/image-left.png);
    background-repeat: no-repeat;
    background-size: contain;

    @media (width <= 600px) {
      left: 0;
    }
  }

  &__subtitle {
    max-width: 256px;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.012;
    color: var(--color-title);
  }

  &__text {
    p {
      max-width: 255px;
      margin-left: 10px;
      font-family: var(--font-family-title);
      font-size: 16px;
      line-height: 1.798;
      color: var(--color-dark);

      @media (width <= 600px) {
        text-align: center;
        max-width: 100%;
      }
    }
  }
}

.content-bottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  z-index: 50;

  @media (width <= 600px) {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 10px;
  }

  @media (width <= 430px) {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    @media (width <= 430px) {
      display: none;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (width <= 600px) {
      align-items: start;
    }
  }
  &__text {
    margin-bottom: 35px;
    margin-left: 70px;
    max-width: 352px;
    font-weight: 400;
    font-size: fluid(40, 26);
    line-height: 1.012;
    color: var(--color-title);
    @media (width <= 600px) {
      margin-left: 5px;
    }
  }
  &__link {
    padding: 10px 30px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-title);

    border: 0.62px solid var(--color-title);
    border-radius: 61px;
    transition: border-color 0.3s ease, color 0.3s ease;
    cursor: pointer;

    @media (width <= 430px){
      margin-inline: auto;
    }

    @include hover {
      border-color: var(--color-accent);
      color: var(--color-accent);
    }
  }
}
