@use '../helpers' as *;

.why {

  background-image: url(/images/why/mountains.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__title {
    max-height: 790px;
    padding-top: 250px;
    text-align: center;

    @media (width <= 550px) {
      transform: translate3d(0, -70px, 0);
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 290px);
    justify-content: center;

    @media (width <= 550px) {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }
  }

  &__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &:nth-child(1) {
      grid-column: 1/2;
      grid-row: 1/2;
    }
    &:nth-child(2) {
      grid-column: -3/-2;
      grid-row: 2/-3;
    }

    &:nth-child(3) {
      grid-column: 3/4;
      grid-row: 1/2;
    }
  }

  &__item-image {
    @media (width <= 550px) {
      display: none;
    }

    img {
      max-width: 100%;
    }
  }

  &__mobile-images {
    display: none;

    @media (width <= 550px) {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      z-index: 50;
    }
  }

  &__mobile-image {
    img {
      max-width: 100%;
    }
  }
}

.item-content {
  display: grid;
  gap: 10px;
  &__title {
    font-size: fluid(40, 32);
  }

  &__descr {
    max-width: 284px;
    margin-inline: auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    color: var(--color-dark);
  }
}
