@use 'normalize';
@use 'fonts';
@use 'variables';
@use 'utils';
@use 'globals';


@use 'blocks/button-decorate';
@use 'blocks/Header';
@use 'blocks/search';

@use 'blocks/experience';
@use 'blocks/slider-card';
@use 'blocks/pacages-card';
@use 'blocks/packages';
@use 'blocks/book';
@use 'blocks/book-card';
@use 'blocks/customers-card';
@use 'blocks/trips';
@use 'blocks/customize';
@use 'blocks/customers';
@use 'blocks/products';
@use 'blocks/products-item';
@use 'blocks/luxury';
@use 'blocks/luxury-card';
@use 'blocks/why-top';
@use 'blocks/why-center';
@use 'blocks/why-bottom';
@use 'blocks/contacts';
@use 'blocks/client';
@use 'blocks/request-page';
@use 'blocks/request-form';
@use 'blocks/notfound-page';

@use 'blocks/footer-menu';
@use 'blocks/footer';